#map
  position absolute
  top 0px
  left 0px
  bottom 0px
  width (1000px - infobarWidth)
  width calc(100% \- 330px)
.draggerButton
  position absolute
  top 9px
  left 50px
  width 29px
  height 29px
  border 2px solid #b
  text-align center
  border-radius 3px
  background lighten(ColorHeading, 80%)
  border-color darken(ColorHeading, 40%)
  &:hover
    cursor pointer
    background lighten(ColorHeading, 70%)
  &:active
    background lighten(ColorHeading, 60%)
  &.active
    background ColorHeading
    border-color darken(ColorHeading, 40%)
    color white
